.header__navigation_link {
    text-decoration: none;
    color: black;
  }
  .header__navigation_item {
    float: right;
    
    display: flex;
    text-decoration: none;
    list-style: none;

padding: 10px;
margin-right: 20px;
background-color: #9e9e9e;;
  }
  .header__navigation {
display: flex;


}
.header__navigation_list {
    padding: 0;
    margin: 0;
    margin-left: 40%;
  }
  .description {
    height: 1000px;
    background:url("https://images.pexels.com/photos/302743/pexels-photo-302743.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    padding: 0;
    margin: 0;
    background-size: cover;
  }
  .a {
    font-size: 60px;
    width: 500px;
    padding-left: 100px;
   
    padding-top: 50px;
    margin: 0;
    
    color: antiquewhite;
  }
  .header__content {
   
    background: #b3b3b3;
  }
  
  body{
      width: 100vw;
     
  }
  img{
      height: 500px;
      width: 380px;
  }
  .book a{
      font-size: 40px;
      text-decoration: none;
      list-style: none;
      color: black;
  }
  p{
      font-size: 60px;
  }
  a {
    font-size: 40px;
    text-decoration: none;
      list-style: none;
      color: black;
   
  }